  <% @restaurants.each do |restaurant| %>
      <p class="mt-3"> Name: <%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none' %> </p>
      <p class="mt-3"> Address: <%= restaurant.address %> </p>
      <p>phone_number: <%= restaurant.phone_number %></p> <hr>
  <% end %>

  <%= link_to "Back", restaurants_path, class: 'btn btn-danger btn-sm' %>
