<div class="container">
  <h1>Restaurants</h1>

  <ul>
  <% @restaurants.each do |restaurant| %>
  <li style="list-style: none;">
    <p><strong>name</strong>: <%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none' %></p>
  </li>
  <% end %>
  </ul>
</div>
