<h1>New review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content, placeholder: "what do you think about the restaurant" %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.submit "Submit", class: 'btn btn-success btn-sm' %>
<% end %>
